<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/normalize.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
		/>

		<title>Create Lists</title>
	</head>
	<body>
		<div class="dark-screen">
			<div class="bg"></div>
			<div id="toggle" class="toggle-btn">
				<i id="sun" class="fa-solid fa-sun fa-3x visible"></i>
				<i id="moon" class="fa-solid fa-moon fa-3x"></i>
			</div>
			<div id="blender" class="expand"></div>
			<div class="container">
				<div class="top-half">
					<div class="owned-lists-container">
						<h2>Your Lists</h2>
						<ul>
							<% lists.forEach( el => { %>
							<li class="listItem" data-id="<%=el._id%>">
								<a href="/lists/<%=el._id%>" class="list"><%= el.name %></a>
								<span class="del"> <i class="fa-solid fa-trash-can"></i> </span>
							</li>
							<% }) %>
						</ul>
					</div>
					<div class="shared-lists-container">
						<div class="sharedYou">
							<h2>Lists Shared With You</h2>

							<% if (sharedLists.length > 0) { %>
							<ul>
								<% sharedLists.forEach( el => { %>
								<li class="listItem" data-id="<%=el._id%>">
									<a href="/lists/<%=el._id%>" class="list"
										><%= el.name %> (shared by <%= el.userId.userName %>)
									</a>
								</li>
								<% }) %>
							</ul>
							<% } else { %>
							<p>You haven't been shared a list yet.</p>
							<% } %>
						</div>
					</div>
				</div>
					<div class="bottom">
					<h2>Create a new List</h2>
					<form action="/lists/createList" method="POST">
						<input type="text" placeholder="Enter list name" name="name" />
						<input type="submit" value="Create" />
					</form>
				
					<div class="button-container">
						<a href="/logout">Logout</a>
					</div>
				</div>
				</div>
			</div>
		</div>

		<script src="/js/main.js"></script>
		<script src="/js/darkMode.js"></script>
	</body>
</html>
