<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1><%= listName %></h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2>The list has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo/<%= listId %>" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <!-- None of these things work -->
    <h3>List Options:</h3>
    <h4>Users with access:</h4>
    <ul>
        <% invitedUsers.forEach( user => { %>
            <li class='todoItem'>
                <%= user.userName %> <button> Kick from list </button> 
            </li>
        <% }) %>
    </ul>

    <h4>Add friends to your shared list.</h4>
    <form action="#" method='PUT'>
        <input type="text" placeholder="Enter Username" name='todoItem'>
        <input type="submit" value="Add User">
    </form>
    <!--  -->

    <a href="/">Back</a>

    <script src="/js/main.js"></script>
</body>
</html>