<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1><%= listName %></h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2>The list has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo/<%= listId %>" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <% if (isOwner) { %>
        <h3>List Options:</h3>
        <h4>Users with access:</h4>
        <ul>
            <% invitedUsers.forEach( user => { %>
                <li class='todoItem'>
                    <%= user.userName %> <button> Kick from list </button> 
                </li>
            <% }) %>
        </ul>

        <h4>Add someone to list:</h4>
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el %></div>
            <% }) %>
        <% } %>
        <form action="/lists/addUser/<%= listId %>" method='POST'>
            <input type="username" placeholder="Enter Username" name='username'>
            <input type="submit">
        </form>
    <% } %>
    <a href="/">Back</a>

    <script src="/js/main.js"></script>
</body>
</html>