<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/dark-mode.css">
    <link rel="stylesheet" href="/css/todos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&display=swap"
		rel="stylesheet"
	/>
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
	/>
   
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Lobster+Two:ital@1&display=swap" rel="stylesheet">

    <title>To-dos</title>
</head>
<body>
    <div class="dark-screen">
        <div class="bg"></div>
        <div id="toggle" class="toggle-btn"></div>
        <div id="blender" class="expand"></div>
        <div class="container">
            <div class="main">
                <h1 class="font-secondary"><%= listName %></h1>
                <ul>
                <% todos.forEach( el => { %>
                        <li class='todoItem' data-id='<%=el._id%>'>
                            <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                            <span class='del'> Delete </span>
                        </li>
                <% }) %>    
                </ul>

                <h3>The list has <%= left %> things left to do.</h3>

                <h2 class="font-secondary">Add a New Task to the List</h2>

                <form action="/todos/createTodo/<%= listId %>" method='POST'>
                    <input type="text" placeholder="Enter Todo Item" name='todoItem'>
                    <input type="submit">
                </form>

                <% if (isOwner) { %>
                <h3 class="font-secondary">List Options:</h3>
                <h2 class="font-secondary">Users with access:</h2>
                <ul>
                    <% invitedUsers.forEach( user => { %>
                        <li class='todoItem' data-list='<%= listId %>' data-id='<%=user._id%>'>
                            <%= user.userName %> <br>
                            <span class='remove-user remove'> Remove <%= user.userName %> from list </span>
                        </li>
                    <% }) %>
                </ul>
                <h2 class="font-secondary">Add someone to this list:</h2>
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el %></div>
                    <% }) %>
                <% } %>
                <!-- <form action="/lists/addUser/<%= listId %>" method='POST'>
                    <input type="username" placeholder="Enter Username" name='username'>
                    <input type="submit">
                </form> -->
                <form name="username">
                    <select name="username" onchange="document.username.submit()">
                        <option value="<% user.userName %>">Select A User</option>
                        <option value="<% user.userName %>"><%= user.userName %></option>                               
                    </select> 
                </form>

                <% } %>
                <div class="button-container">
                    <a href="/">Back</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/darkMode.js"></script>
</body>
</html>
Footer
© 2022 GitHub, Inc.
Footer navigation
